<section class="bg">
    <div class="row">
    
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 header-color">
        <!-- <div class="header-color p-0"> -->
        <div class="bg-img-header p-0">
          <h1 class="h1-heading"> {{head_title| uppercase}}</h1>
        </div>
        <!-- </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-center p-4" >
        <img width="100%" class="side-img" src="../../../assets/img/login-side-img.png" alt="..." />
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pl-3 pr-3">
        <div ng-app="myApp" ng-controller="myController">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 form-padding mb-3 ">
              <!-- <form name="myForm" class="form"> -->
              <form [formGroup]="forgotForm" class="form border-row">
                <p class="heading" >Forgot Password ?</p>
          
                <div class="login-container">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
                     <img src="../../../assets/img/password-window.png" style="height: 82%;">
                     
                     </div>
                 
                    
                  
                       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-0 pb-0" style="margin-top: -43px">
                      
                        <!-- <mdb-icon fas icon="envelope" class="prefix" style="color: #6146D5;font-size: large;"></mdb-icon> -->
                          <mat-form-field style="width: 100%;">
                            <mat-label style="font-family: 'Segoe UI';font-weight: 400;">Email ID</mat-label>
                            <input type="email" matInput  required autocomplete="off" formControlName="email" style="padding-bottom: 6px !important;">
                            <mat-icon matPrefix style="color: #6146D5;font-size: 20px;">email</mat-icon>
                            <mat-error *ngIf="forgotForm.get('email').hasError('required')">
                              Email ID is required!
                            </mat-error>
                            <mat-error *ngIf="forgotForm.get('email').hasError('email')">
                               Email ID format is incorrect!
                            </mat-error>
                          </mat-form-field>
    
<!--                           
                          <mat-form-field style="padding-left: 20px; width: 88%;">
                            <mat-label style="font-family: 'Segoe UI';font-weight: 400;">Password</mat-label>
                            <input [type]="hide ? 'password' : 'text'" matInput  required autocomplete="off" formControlName="password"  minlength="8">
                            <mdb-icon matSuffix class="eye-style" (click)="hide = !hide" fas icon="{{hide ? 'eye-slash' : 'eye'}}"></mdb-icon>
                            
                          </mat-form-field> -->
                        
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-0 pb-0">
                      
                            <!-- <mdb-icon fas icon="lock" class="prefix" style="color: #6146D5;font-size: large;"></mdb-icon>
                              <mat-form-field style="padding-left: 20px;width: 88%;">
                                <mat-label style="font-family: 'Segoe UI';font-weight: 400;">New Password</mat-label>
                                <input [type]="hide ? 'password' : 'text'" matInput  required autocomplete="off" formControlName="OTP"  minlength="8">
                            <mdb-icon matSuffix class="eye-style" (click)="hide = !hide" fas icon="{{hide ? 'eye-slash' : 'eye'}}"></mdb-icon>
                              </mat-form-field> -->
        
                                <div class="row disable-text-selection" >
                                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pt-2 pb-0" style="text-align: center;padding-left: 90px;">
                                    <span class="captcha-code m-0" disable-text-selection>  {{captchaCode}}     </span>
                                  </div>
                                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pt-2 pb-0" >
                                    <mdb-icon fas icon="sync"style="color: #6146D5;font-size: large; vertical-align: -13px;cursor: pointer;" (click)="getCaptchaCode()"></mdb-icon>
                                  </div>
                                </div>
                            
                                
                               
                           
                                
                          
                           
                     
                            
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-3 pb-0">
                      
                              <!-- <mdb-icon fas icon="envelope" class="prefix" style="color: #e9e9ee;font-size: large;"></mdb-icon> -->
                                  <mat-form-field style="padding-left: 20px;width: 100%;" class="pl-0">
                                    <mat-label style="font-family: 'Segoe UI';font-weight: 400;">Enter Captcha here</mat-label>
                                    <input type="text" matInput  required autocomplete="off" formControlName="captcha" >
                                    <mat-error *ngIf="forgotForm.get('captcha').hasError('required')">
                                     Captcha is required!
                                    </mat-error>
                                  </mat-form-field>
            
                                  
                                 
                                
                                </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-2">
                      <div class="form-group">
                        <label class="input-heading"></label>
                        <!-- <button class="login-btn">LOGIN</button> -->
      
                            <button mat-raised-button class="login-btn" (click)="verifyCaptchaCode()">SUBMIT</button>
                      
                        
                       
                        <p class="register-line pt-2">Click here to go back to <a class="register-link" href="#" routerLink="/Login">LOGIN</a></p>
                       
                        <!-- <div class="clearfix"></div> -->
                      </div>
                    </div>
                  
              
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
       
      </div>
    </div>
    </section>
    <ngx-spinner 
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="timer"
    >
    <p style="font-size: 20px; color: white">Please wait...</p>
    </ngx-spinner>