.datepicker-textbox-style {
    border-radius: 30px;
    margin-top: 0px;
    border-width: 5px !important;
    height: 40px;
}

.backButtonStyle{
    color: white !important;
}

.heading-message-style{
    font-size: 12px;
}

