.bg {
    /* background-image: URL("../../../assets/img/bg-img.jpg"); */
   background-repeat: no-repeat;
   /* background-size: cover;  */
  /* overflow: hidden; */
   /* position:absolute; */
   /* background-color:none !important; */
   height: 100vh;

   width: 99% !important;
}
.container {
    width: 150px;
    height: 40px;
   
    margin: 0 auto;
  }
  
  .outer {
    /* width: 100% !important;
    height: 100% !important;
    max-width: 150px !important;
    max-height: 150px !important; 
    margin: auto;
    background-color: #6eafd4;
    border-radius: 100%; */
    position: relative;
    }
    
  .inner {
    background-color: #dddbff;
    width: 21px;
    height: 21px;
    border-radius: 100%;
    position: absolute;
    bottom: 10px;
    right: 22px;
  }
  

  

.md-form input{
   border-bottom:1px solid #b4b0b0 !important;
 }
.header-color{
   background-color: #dddbff;
   height: 120px;
   width:100%
}
input{
   font-size: 15px;
   font-family: 'Segoe UI';
   font-weight: 400;
   height: 19px;
   padding-bottom: 3px;

}

.eye-style{
   vertical-align: -2px;
   color: #b1b0af;
   font-size: 20px;
   margin-left: -36px;
   cursor: pointer;
}
.bg-img-header{
   background-image: URL("../../../assets/img/bg-login.png");
   /* background-repeat: no-repeat;
 
   overflow-x:hidden;
   overflow-y:hidden;
   position:absolute; */
   background-color:none !important;
   background-position: 10% 48%;
   width: 100% !important;
   background-size: cover;
}
.ip2 {
   border-radius: 5px;
   border: 2px solid ;
   padding: 20px; 
   width: 200px;
   height: 15px;    
}

.h1-heading{
   text-align: center;
   color: #4519ff;
   font-family: 'Segoe UI';
   font-size: 35px;
   font-weight: 400;
   padding-top: 24px;
   padding-bottom: 50px;
}


 
 .error{
   color: tomato; 
   font-size: 12px; 
   padding-top: 4px
 }

 .ip2 {
   border-radius: 25px;
   border: 2px solid;
   padding: 20px; 
   width: 200px;
   height: 15px;    
}

   .container-fluid{
       background-image: url(../../../assets/img/bg-img.jpg);
       height: 100vh;
       /* max-width:100%;
       background-repeat: no-repeat;     */

   }

   .img{
       padding-left: 20px;
   }
   .border-row{
       border: #dddbff solid 2px;
       padding: 10px 9px 52px 70px;
   }

  /* input{
      height:45px;
  } */
  .mat-form-field-infix {
      width:568px !important;
  }

   .login-btn{
     width:100%;
     /* margin-top:30px; */
       background-color: #6146D5;
       color: white;
       border-radius: 5px;
     
       height: 45px;
       border: none;
       
   }
   .mat-form-field-subscript-wrapper {
    position: static !important;
    }
     .mat-form-field-underline {
    position: static !important;
    } 
     .mat-form-field-appearance-legacy .mat-form-field-wrapper {
      padding-bottom: 0px !important;
  } 
   .profile-headline{
       color: #000000;
       font-family: 'Segoe UI';
       font-size: 15px;
       font-weight: 500;
   }
   .heading{
    color: #000000;
    font-family: 'Segoe UI';
    font-size: 22px;
    font-weight: 500;
}
   .head-line{
       color: #000000;
       font-family: 'Segoe UI';
       font-size: 14px;
       font-weight: 400;
   }
   .password-link{
    color: #000000;
    font-family: 'Segoe UI';
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #000000;
    cursor: pointer;
}
   .register-line{
       color: #000000;
       font-family: 'Segoe UI';
       font-size: 13px;
       font-weight: 600;
       text-align: center;
   }
   .register-link{
       color: #6146D5;
       font-family: 'Segoe UI';
       font-size: 13px;
       font-weight: 700;
       text-align: center;
   }
   .input-heading{
       color: #6146D5;
       font-size: 14px;
       font-family: 'Segoe UI';
       font-weight: 400;
   }

   .form-padding{
       padding-left: 60px;
       padding-right: 47px;
       padding-top: 66px;
   }
   .side-img{
       padding-left: 25px;
       padding-top: 30px;
   }
   .header-title{
       padding-top:3rem;
       padding-bottom:3rem;
   }
   .input-style-checkbox {

       width : 10%;
   }
   
   .input-ckeckbox-style {
       width: 15%;
       height: 20px;
       margin-left: -38px;
   }
   .input-ckeckbox-style:focus{
background-color: black;
   }
   
   .checkbox-Alignment-style {
       
       margin-top: 2%;
   }
   .checkbox-top-padding{
       padding-top:10px;
   }
   .checkbox-text-style {
       color: black;
       font-size: 14px;
       padding-left: 0px;
       font-family: 'Segoe UI';
       font-weight: 400;
   }
   
   
   .checkbox-text-Alignment-style {
       text-align: left;
       margin-left: 0% !important;
       margin-top: 2%;
   }


     
   @media only screen and (max-width: 824px) {
       .border-row{
           border: none;
           padding:0px 0px;
       }
       .bg-image {
           /* background-image: URL("../../../assets/img/bg-img.jpg") !important; */
           /* background-repeat: no-repeat;
           background-size: cover; */
           
           height:fit-content;
           background-color:none !important;
           padding:15px !important;
       } 
       .form-padding{
           padding-left: 20px;
           padding-right:20px;
       }
   }


   @media only screen and (min-width: 1440px) {
       .header-title{
           padding-top:3rem;
           padding-bottom:3rem;
       }
   }
   .cancel{
    /* background-color: #2B2647;
    color: grey;
    float:right;
    border: none;
    padding: 10px 10px 10px 10px;
    font-size: smaller;
    border-radius: 2px; */
    background-color: #4b4a52;
        color: white;
        font-family: 'Segoe UI';
        font-weight: 400;
        width: 100%;
        float:right;
    }
    
    .save{
        /* background-color: #EF7A2D;
        color: #2B2647;
        float:right;
        border: none;
        padding: 10px 10px 10px 10px;
        font-size: smaller;
        border-radius: 2px; */
        background-color:#6146D5;
        color: white;
        font-family: 'Segoe UI';
        font-weight: 400;
        width: 50%;
        float:right;
     }
     .profile-img{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 10%), 0 6px 20px 0 rgba(0, 0, 0, 9%);
     }
     .usr-img{
        height: 83px;
        width: 83px;
        border: 2px solid #dddbff;
        padding: 3px;
        vertical-align: -12px;
        cursor: pointer;
        margin-top: -60px;
      }
      .profile-camera-icon{
        background-color: #dddbff;
        height: 21px;
        width: 21px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 10%), 0 6px 20px 0 rgba(0, 0, 0, 9%);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        right: 309px;
        top: -1px;
        cursor: pointer;
      }
    