 .mat-dialog-container {
    
    background-color: #3C3658;
    border:2px solid grey;

    overflow: hidden; 
}

.add-btn{
    color: #ffffff;
    background-color: #4E37B0;
    padding: 8px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 10px;
}
.md-form input{
  border-bottom:1px solid #000000 !important;
}
.table{
    background-color: #E9E9E9;
    color:#000000;
    font-family: 'Segoe UI';
}

.tr{
    border-top: #D0D0D0;
}

.search{
    background-color: #FFFFFF;
     width: 100%;  
    border: none;
  }

  .icon{
     color:"#EF7A2D";
  }
  
  .thead{
      background-color: #6146d5;
      border-bottom: none;
      color:white;
      border: none;
      font-size: 14px;
  }

  .tr{
      border-top:1px solid #D0D0D0;
      border-bottom:1px solid #D0D0D0;
      color:#000000;
  }

  table {
    width: 100%;
    background-color: #E9E9E9;
    color:#000000;
    font-family: 'Segoe UI';
  }

  .td{
      color:#000000;
      font-weight: 400;
  }

  .paginator{
    background-color: #D0D0D0;
    color:#000000;
  }
  .input{
   
    color:#000000;
  
    font-family: 'Segoe UI';
  }
  .overme {
    width: 270px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
   
  }
  table{
    width: 100%;
   }

   .mat-column-facility_name {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 30% !important;
     width: 30% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-facility_type {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 30% !important;
     width: 30% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
     padding-left: 20px!important;
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-longitude {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 15% !important;
     width: 15% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   padding-left: 10px!important;
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
   .mat-column-latitude {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 15% !important;
     width: 15% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
     padding-left: 10px!important;
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   
  
  .mat-column-actions {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .mat-search {
    background-color: #6146d5 !important;
    color: #ffffff !important; 
     font-weight: 600;
    font-family: 'Segoe UI';
  
  }
  .mat-form-field-infix {
    width:273px !important;
  }