.verifyotp-text-style {
    text-align: center;
    display: block;
    /* padding-left: 35px !important; */
    padding-top: 0px;
    font-size: 12px;
    font-weight: 400;
}

.page-img-style {
    height: 150px;
    width: 150px;
}
