.dashboard-card-bg-style {
    background: #F9F9F9 !important;
}

.collaboration-main-div-nearby{
  
    background:#F9F9F9;
    padding: 20px; 
    /* width: 200px; */
    /* height: 545px; */
    font-family: 'Segoe UI';
}
