.cancel{
    /* background-color: #2B2647;
    color: grey;
    float:right;
    border: none;
    padding: 10px 10px 10px 10px;
    font-size: smaller;
    border-radius: 2px; */
    background-color: #4b4a52;
    color: white;
    font-family: 'Segoe UI';
    font-weight: 500;
    }
    
    .yes{
        /* background-color: #EF7A2D;
        color: #2B2647;
        float:right;
        border: none;
        padding: 10px 10px 10px 10px;
        font-size: smaller;
        border-radius: 2px; */
        background-color:#4e37b0;
        color: white;
        font-family: 'Segoe UI';
        font-weight: 500;
        margin-left: 53px;
        width: 28%;
     }

     .main-div{
         background-color: "#ffffff" !important;
         
     }