
<!-- <h6 style="color: yellow;"><mdb-icon style="color:#EF7A2D;" fas icon="trash-alt"></mdb-icon>&nbsp;&nbsp;Delete <span class="float-right"></span></h6> -->


<div class="main-div">

	<h6 style="color: black;font-family:Segoe UI;padding-left: 12px;font-weight: 500;">
		{{message}}
	</h6>

<div class="pt-2">
	<button mat-raised-button class="yes" (click)="onConfirmClick()">{{confirmButtonText}}</button>
	<button mat-raised-button class="cancel ml-4" mat-dialog-close >{{cancelButtonText}}</button>

</div>
</div>
    
<!-- </popup> -->


