<section class="bg">
    <div class="row">
    
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 header-color">
        <!-- <div class="header-color p-0"> -->
        <div class="bg-img-header p-0">
          <h1 class="h1-heading"> {{head_title| uppercase}}</h1>
        </div>
        <!-- </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 text-center p-4" >
        <img width="100%" class="side-img" src="../../../assets/img/login-side-img.png" alt="..." />
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 pl-3 pr-3">
        <div ng-app="myApp" ng-controller="myController">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 form-padding mb-3 ">
              <!-- <form name="myForm" class="form"> -->
              <form [formGroup]="resetForm" class="form border-row">
                <p class="heading" >Reset Password</p>
          
                <div class="login-container">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-4" style="text-align: center;">
                     <img src="../../../assets/img/cityappim_1.png" height="50%">
                     
                     </div>
                 
                    
                  
              
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" style="margin-top: -80px;">
                      
                          <!-- <mdb-icon fas icon="lock" class="prefix" style="color: #6146D5;font-size: large;"></mdb-icon> -->
                          <mat-form-field style="width: 91%;">
                            <mat-label style="font-family: 'Segoe UI';font-weight: 400;">New Password</mat-label>
                            <input [type]="hideNew ? 'password' : 'text'" matInput (change)="onPasswordChange()" required autocomplete="off" formControlName="newPassword"  minlength="8">
                        <!-- <mdb-icon matSuffix class="eye-style" (click)="hideNew = !hideNew" fas icon="{{hideNew ? 'eye-slash' : 'eye'}}"></mdb-icon> -->
                        <mat-icon matPrefix style="color: #6146D5;font-size: 20px;">lock</mat-icon>
                      <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon style="color: #7E7E7E;font-size: 20px;">{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="resetForm.get('newPassword').hasError('required')">
                          Password is required!
                        </mat-error>
                        <mat-error *ngIf="resetForm.get('newPassword').hasError('minlength')">
                          Password should be atleast 8 characters long!
                        </mat-error>
                        <mat-error *ngIf="resetForm.get('newPassword').hasError('pattern')">
                          Password must contain at least one lowercase, uppercase alphabet, number & special character!
                        </mat-error>
                      </mat-form-field>
        
                              
                             
                            
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      
                              <!-- <mdb-icon fas icon="lock" class="prefix" style="color: #6146D5;font-size: large;"></mdb-icon> -->
                              <mat-form-field style="width: 91%;">
                                <mat-label style="font-family: 'Segoe UI';font-weight: 400;">Confirm Password</mat-label>
                                <input [type]="hideConfirm ? 'password' : 'text'" matInput (change)="onPasswordChange()" required autocomplete="off" formControlName="confirmPassword"  minlength="8">
                                <!-- <mdb-icon matSuffix class="eye-style" (click)="hideConfirm = !hideConfirm" fas icon="{{hideConfirm ? 'eye-slash' : 'eye'}}"></mdb-icon> -->
                                <mat-icon matPrefix style="color: #6146D5;font-size: 20px;">lock</mat-icon>
                      <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon style="color: #7E7E7E;font-size: 20px;">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                                <mat-error *ngIf="resetForm.get('confirmPassword').hasError('required')">
                                  Password is required!
                                </mat-error>
                                <mat-error *ngIf="resetForm.get('confirmPassword').hasError('minlength')">
                                  Password should be atleast 8 characters long!
                                </mat-error>
                                <mat-error *ngIf="resetForm.get('confirmPassword').hasError('pattern')">
                                  Password must contain at least one lowercase, uppercase alphabet, number & special character!
                                </mat-error>
                                <mat-error *ngIf="resetForm.get('confirmPassword').hasError('mismatch')">Password doesn't match!</mat-error>
                              </mat-form-field>
            
                                  
                                 
                                
                                </div>
                    <div class="col-xl-11 col-lg-11 col-md-11 col-sm-11" style="margin-top: 20px;">
                      <div class="form-group">
                        <label class="input-heading"></label>
                        <!-- <button class="login-btn">LOGIN</button> -->
                        
                    
                            <button mat-raised-button class="login-btn" (click)="resetPassword()">RESET PASSWORD</button>
                   
                    
                       
                        
                       
                        <p class="register-line pt-3">Click here to go back to <a class="register-link" href="#" routerLink="/Login">LOGIN</a></p>
                       
                        <!-- <div class="clearfix"></div> -->
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
       
      </div>
    </div>
    </section>