@media (min-width: 200px) and (max-width: 349px)
{
  .search-incident-banners {
    background-image: url("../../../assets/banner/incidentreport_mob.jpg");
    height: 180px;
    width: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .search-incident-banner-text {
    padding-right: 22px;
    padding-top: 32%;
    padding-left: 15px;
    text-align: left;
    font: normal normal normal 14px/18px Segoe UI;
    letter-spacing: 0px;
    color: #ffffff;
    text-shadow: 0px 3px 6px #0000002b;
    font-size: 14px;
  }
}
@media (min-width: 350px) and (max-width: 576px)
{
  .search-incident-banners {
    background-image: url("../../../assets/banner/incidentreport_mob.jpg");
    height: 180px;
    width: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .search-incident-banner-text {
    padding-right: 22px;
    padding-top: 35%;
    padding-left: 15px;
    text-align: left;
    font: normal normal normal 14px/18px Segoe UI;
    letter-spacing: 0px;
    color: #ffffff;
    text-shadow: 0px 3px 6px #0000002b;
  }
}
@media (max-width: 765px) and (min-width: 580px){

    .search-incident-banners {
      background-image: url("../../../assets/banner/incidentstatus.jpg");
      height: 200px;
      width: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  
    .search-incident-banner-text {
      padding-right: 22px;
      padding-top: 18%;
      padding-left: 15px;
      text-align: left;
      font-family: normal normal normal 18px/24px Segoe UI;
      letter-spacing: 0px;
      color: #ffffff;
      text-shadow: 0px 3px 6px #0000002b;
    }
  
  }

  @media (min-width: 767px) and (max-width: 990px){

    .search-incident-banners {
      background-image: url("../../../assets/banner/incidentstatus.jpg");
      height: 200px;
      width: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  
    .search-incident-banner-text {
      padding-right: 22px;
      padding-top: 18%;
      padding-left: 15px;
      text-align: left;
      font: normal normal normal 18px/26px Segoe UI;
      letter-spacing: 0px;
      color: #ffffff;
      text-shadow: 0px 3px 6px #0000002b;
    }
  
  }

  @media (min-width: 992px) and (max-width: 1020px)  {

    .search-incident-banners {
      background-image: url("../../../assets/banner/incidentstatus.jpg");
      height: 200px;
      width: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  
    .search-incident-banner-text {
      padding-right: 22px;
      padding-top: 18%;
      padding-left: 15px;
      text-align: left;
      font: normal normal normal 18px/26px Segoe UI;
      letter-spacing: 0px;
      color: #ffffff;
      text-shadow: 0px 3px 6px #0000002b;
    }  
}
 @media (min-width: 1021px) and (max-width: 1367px){

    .search-incident-banners {
      background-image: url("../../../assets/banner/incidentstatus.jpg");
      height: 200px;
      width: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  
    .search-incident-banner-text {
      padding-right: 22px;
      padding-top: 18%;
      padding-left: 15px;
      text-align: left;
      font: normal normal normal 18px/26px Segoe UI;
      letter-spacing: 0px;
      color: #ffffff;
      text-shadow: 0px 3px 6px #0000002b;
    }
  
  }
@media (min-width: 1368px) and (max-width: 3500px) {

    .search-incident-banners{
      background-image: url("../../../assets/banner/complain_desk.jpg");
      height: 200px;
      width: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  
    .search-incident-banner-text {
      padding-right: 22px;
      padding-top: 18%;
      padding-left: 15px;
      text-align: center;
      font: normal normal normal 18px/26px Segoe UI;
      letter-spacing: 0px;
      color: #ffffff;
      text-shadow: 0px 3px 6px #0000002b;
    }

  }
  
  
  
